<h1>Extreme Foods!</h1>
<p>A site devoted to more challenging foods</p>
<h2><%= @food.name %></h2>
<img class="food-pic" src="<%= @food.image_url%>">
<div class="food-text"><%= @food.text %></div>
<%= link_to "Delete", @object_name, method: :delete %>